<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <loginFooterText>CloudMyBiz, Inc.</loginFooterText>
        <primaryColor>#1574D4</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#FFFFFF</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#F7F7F7</secondaryColor>
        <tertiaryColor>#3C95EE</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#F7F7F7</zeronaryColor>
        <zeronaryComplementColor>#222222</zeronaryComplementColor>
    </branding>
    <caseCommentEmailTemplate>unfiled$public/SUPPORTSelfServiceNewCommentNotificationSAMPLE</caseCommentEmailTemplate>
    <changePasswordTemplate>Cases_Communities/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <description>Case management</description>
    <emailSenderAddress>support@cloudmybiz.com</emailSenderAddress>
    <emailSenderName>CloudMyBiz Customer Communities</emailSenderName>
    <enableGuestChatter>true</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>true</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <forgotPasswordTemplate>Cases_Communities/CommunityCaseForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <networkMemberGroups>
        <profile>System Administrator %28Custom%29</profile>
        <profile>CloudMyBiz Community User - Full</profile>
        <profile>CloudMyBiz Community User - Basic</profile>
        <profile>CloudMyBiz Community User %28%2BJira%29 - Full</profile>
    </networkMemberGroups>
    <picassoSite>CloudMyBiz_Customer_Community_C</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>CloudMyBiz_Customer_Community</site>
    <status>Live</status>
    <tabs>
        <customTab>HarvestProject__c</customTab>
        <defaultTab>Case</defaultTab>
        <standardTab>Case</standardTab>
        <standardTab>Chatter</standardTab>
        <standardTab>Idea</standardTab>
    </tabs>
    <urlPathPrefix>customers</urlPathPrefix>
    <welcomeTemplate>Cases_Communities/Communities_Case_New_Member_Welcome_Email_2</welcomeTemplate>
</Network>
